# Python
__pycache__/
*.py[cod]
*.log
 
# Virtual Environments
airflow_env2/
 
# IDE
.idea/
 
# DB and Secrets
db.sqlite3
.env
 
# Windows Shortcuts and Office Files
*.lnk
*.vsdx
# Ignore Zone.Identifier files
*Zone.Identifier